.container__main{/**//**/
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
}

.main-container-sub{
    font-size: 1.6rem;
    justify-content: center;
    align-content: center;
}

.main--instrucciones {
    height: 10vh;
    margin: 30px 10px;
    font-size: 1.6rem;
}

.form-label{/*font-size 1.2rem*/
    font-size: 1.2rem;
}

#ResultP{
    font-size: 1.4rem;
}