/* Forma de poner las declaraciones 
1. Pocisionamiento
2. Modelo de caja 
3. Tipografía --- fuentes, tamaño de fuentes
4. Temas visuales ----> shadom box, border radius
5. Otros
*/
:root{
    --white-color: #d0d0d0;
    --black-color: #2c2f33;
    --green-color: #99c84a;
    --dark-color: #181818;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
   /* scroll-behavior: smooth; te desliza al tocar un boton relacionado con una sección*/
}

body{
    background: var(--white-color);
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/*------------------------------------------------*/
.header{
    width: 100%;
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0px 2rem 10px;
    background-color: var(--black-color);
    border-bottom: 5px solid var(--green-color);
}

.header div{
    color: var(--white-color);
}

.header--nav{
    display: flex;
    width: 70px; /*editar el espacio del home y menu*/
    height: 30px;
    align-items: center;
    background-color: var(--black-color);
}

.header--nav ul{
    display: flex;
    gap: 7px;
}

.header--nav ul .header--nav_home{
    font-size: 1.4rem;
    color: var(--white-color);
}

.logo-menu{
        font-size: 2rem;
        color: var(--white-color);
}

/*-------------------------------------------------*/

.container__main{
    display: grid;
    grid-template-areas: 
    "section1 section2"
    "section3 section3"
    ;
    /* grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%; */
    gap: 10px;
    height: 80vh;
    width: 100%;
    background: var(--white-color);
}

.main-container-sub{
    grid-area: section1;
    padding: 20px 10px;
    font-size: 1.2rem;
    background: var(--white-color);
}

.container-form{
    grid-area: section2;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    margin-top: 10px;
    max-width: 90%;
    font-size: 1.2rem;
    background: var(--white-color);
}

.main--instrucciones{
    grid-area: section3;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2rem;
    color: var(--black-color);
}

.form-principal{
    display: flex;
    flex-direction: column;
    width:90%;
    border-radius: 1rem;
    background: var(--white-color);
    border: 5px solid var(--black-color);
    box-shadow: 0 10px 15px rgb(0 0 0 / 50%);;
    overflow: hidden; /*va a ocultar texto si se sale*/
}

.form-label{
    width: 80%;
    justify-content: center;
    align-self: center;
}
input{
    width: 80%;
    margin: 0 10px;
    align-self: center;
    padding: 0.3rem; /*cambiar a 0.5 cuando crezca */
    text-align: center;
    outline: 3px  var(--black-color);
    border-radius: 2rem;
}
button{
    width: 100%;
    padding: 0.5rem;
    border: none;
    font-family: "Roboto", sans-serif;
    outline: none;
    background-color: var(--green-color);
    cursor: pointer;
}

/*--------------footer-------------------*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    text-align: center;
    border-top: 10px solid var(--green-color);
    background: var(--black-color);
}
footer div{
    margin: 10px 7px;
}

footer div a i{
    font-size: 2rem;
    color: var(--white-color);
}